body {
    font-family: monospace;
    background: radial-gradient(circle, rgba(85, 92, 30, 1) 0%, rgba(53, 58, 26, 1) 85%);
    background-attachment: fixed;
    color: white;
}

input {
    border: 1px solid rgb(255, 151, 82);
    border-radius: 5px;
    padding: 10px;
    background: whitesmoke;
}

input:focus {
    background: white;
    border: 1px solid #ff7300;
}

.about {
    font-size: 25px;
    padding-left: 15px;
    border-radius: 15px;
    background: rgba(189, 207, 88, 0.1);
    margin: 15px;
}

.about .symbol {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    font-size: 35px;
    background: rgba(0, 0, 0, 0. 2)
}

.info {
    font-size: 16px;
}


.boardContainer {
    display: flex;
    align-items: center;
    justify-content: right;
}

.board,
.option {
    transition-duration: 0.2s;
    user-select: none;
    border: 2px solid black;
    border-collapse: collapse;
    background: linear-gradient(to bottom left,
            #8d8058,
            #645e43,
            #796f4f,
            #817a56,
            #776a54);
}

.option {
    cursor: pointer;
    margin: 15px;
    user-select: none;
    border: 2px solid black;
    border-collapse: collapse;

}

.notFrozen {
    transition-duration: 0.5s;
    background: rgba(255, 115, 0, 0.9);
}

.frozen {
    transition-duration: 0.5s;
    background: rgba(255, 255, 255, 0.5);
}

.selected {
    box-shadow: 0px 0px 5px whitesmoke;
}

.board .cell {

    border: 2px solid black;
    width: 35px;
    height: 35px;
    min-width: 35px;
    padding: 0px;
    text-align: center;
}

.option .cell {
    font-size: 2px;
    border: 2px solid black;
    width: 15px;
    height: 15px;
    text-align: center;
}

.board .symbolContainer {
    height: 35px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.symbol {
    font-size: 25px;
}

.tip {
    background: rgba(255, 115, 0, 0.7);
}
.unplacedStone {
    background-color: rgba(0, 0, 0, 0.5);
}

.placedStone {
    background-color: black;
}

.white {
    color: whitesmoke;
}

.red {
    color: red;
}

.fillRed {
    background: red;
}

.fillWhite {
    background: whitesmoke;
}

.blue {
    background: radial-gradient(circle, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 48%, rgba(51, 110, 122, 0) 49%, rgba(0, 212, 255, 0) 100%);
}

.countedRed {
    transition-duration: 1.5s;
    box-shadow: 0px 0px 10px darkred;
    background: darkred;
}

.countedWhite {
    transition-duration: 1.5s;
    box-shadow: 0px 0px 10px grey;
    background: grey;
}

button {
    margin: 10px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(255, 115, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 138, 59);
    transition-duration: 0.5s;
}

button:hover {
    background-color: #ee5f00
}

button:active {
    background-color: #ee5f00;
    box-shadow: 0 5px rgb(255, 151, 82);
    transform: translateY(4px);
}

button:disabled,
button[disabled] {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 5px rgb(250, 250, 250);
    transform: translateY(4px);     
    transition-duration: 0.5s;

}