<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="vue.global.js"></script>
  <link rel="stylesheet" href="bootstrap-icons-1.3.0/bootstrap-icons.css">
  <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="carnac.css">
</head>

<body>




  <div id="app">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-6 about">
          <div id="waiting" v-if="carnac.gameStatus === 'WAITING'">
            <p class="info">To invite someone to play, give this URL:</p>
            <input id="copyInput" type="text" v-model="url" readonly>
            <button @click="copyToClipboard()"><i class="bi" :class="!isLinkCopied ? 'bi-clipboard' : 'bi-clipboard-check'"></i></button>
            <p class="info">The first person to come to this URL will play with you.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="game" v-if="carnac.gameStatus !== 'WAITING'">
      <h1>{{carnac.roomName}}</h1>
      <div class="container">
        <div class="row">
          <div class="col about">
            <p><i class="symbol bi" :class="playerColor() === 'RED' ? 'bi-command red' : 'bi-bullseye white'"></i> You ({{playerColor() === 'RED' ? formatTime(carnac.firstPlayer.timer) : formatTime(carnac.secondPlayer.timer)}})</p>
            <p class="info">
              <i v-if="carnac.gameStatus === 'PLAYING'">{{isActivePlayer() ? 'Your turn.' : 'Waiting for opponent.'}}</i>
              <i v-if="carnac.gameStatus === 'GAME_OVER'">{{carnac.winner === "OPPONENT" ? 'You lose...' : (carnac.winner === "DRAW" ? 'Its a draw...' : 'You won!')}}</i>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 boardContainer">
            <table class="board" @mouseleave="mouseLeaveBoard()">
              <tr v-for="(row, y) in carnac.board">
                <td @mouseover="mouseOverCell(y, x)"  @click="mouseClickCell(y, x)" class="cell" v-for="(cell, x) in row"
                  :class="
                    carnac.board[y][x].type === 'SHADOW' && isActivePlayer() && carnac.activePlayer.status === 'TIP_OR_PASS' ? 'tip' : '',
                    carnac.board[y][x].type === 'PLACED' ? 'unplacedStone' : '', carnac.board[y][x].type === 'FIXED' ? 'placedStone' : '',
                    carnac.board[y][x].partOfDolmen && carnac.board[y][x].color === 'R'  ? 'countedRed' : '',
                    carnac.board[y][x].partOfDolmen && carnac.board[y][x].color === 'W'  ? 'countedWhite' : ''">
                  <div class="symbolContainer">
                    <i v-if="color(y,x) === 'red'" class="symbol bi bi-command red"></i>
                    <i v-if="color(y,x) === 'white'" class="symbol bi bi-bullseye white"></i>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col d-flex justify-content-end">
                <table class="option" :class="carnac.selectedStone === 'STONE_1' ? 'selected' : '', carnac.gameStatus === 'PLAYING' &&carnac.activePlayer.status === 'PLACE_STONE' && isActivePlayer() ? 'notFrozen':'frozen'"
                  @click="selectStone('STONE_1')">
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell fillWhite"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell fillWhite"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                </table>
              </div>
              <div class="col">
                <table class="option" :class="carnac.selectedStone === 'STONE_2' ? 'selected' : '', carnac.gameStatus === 'PLAYING' &&carnac.activePlayer.status === 'PLACE_STONE' && isActivePlayer() ? 'notFrozen':'frozen'"
                  @click="selectStone('STONE_2')">
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell fillWhite"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell fillWhite"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-end">
                <table class="option" :class="carnac.selectedStone === 'STONE_3' ? 'selected' : '', carnac.gameStatus === 'PLAYING' &&carnac.activePlayer.status === 'PLACE_STONE' && isActivePlayer() ? 'notFrozen':'frozen'"
                  @click="selectStone('STONE_3')">
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell fillRed"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell fillRed"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                </table>
              </div>
              <div class="col">
                <table class="option" :class="carnac.selectedStone === 'STONE_4' ? 'selected' : '', carnac.gameStatus === 'PLAYING' &&carnac.activePlayer.status === 'PLACE_STONE' && isActivePlayer() ? 'notFrozen':'frozen'"
                  @click="selectStone('STONE_4')">
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell fillRed"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell fillRed"></td>
                    <td class="cell fillRed"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                  <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell fillWhite"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button @click="mouseClickPass()" :disabled="(isActivePlayer() && carnac.activePlayer.status !== 'TIP_OR_PASS') || !isActivePlayer()">PASS</button>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <p>{{carnac.stoneCounter}} stones left</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col about">
            <p><i class="symbol bi" :class="playerColor() === 'WHITE' ? 'bi-command red' : 'bi-bullseye white'"></i> Opponent ({{playerColor() !== 'RED' ? formatTime(carnac.firstPlayer.timer) : formatTime(carnac.secondPlayer.timer)}})</p>
          </div>
        </div>
      </div>


    </div>

  </div>

  <script src="/carnac.js"></script>
  <script src="/carnacConnection.js"></script>

</body>

</html>