.board {
    margin: auto;
    user-select: none;
    border: 2px solid black;
    border-collapse: collapse;
    background: linear-gradient(to bottom left,
            #c19a6c,
            #d89d84,
            #e7b88d,
            #e6a98b,
            #d0a373);
}

.option {
    user-select: none;
    border: 2px solid black;
    border-collapse: collapse;
    background: linear-gradient(to bottom left,
            #c19a6c,
            #d89d84,
            #e7b88d,
            #e6a98b,
            #d0a373);
}

.selected {
    border: 5px solid yellow;
}

.cell {
    border: 2px solid black;
    width: 25px;
    height: 25px;
    min-width: 25px;
    text-align: center;
}

.symbol {
    display: inline-block;
    width:100%;
    height:70%;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.3);
}

.unplacedStone {
    background-color: rgba(0, 0, 0, 0.7);
}

.placedStone {
    background-color:black;
}

.white {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(51,110,122,0) 49%, rgba(0,212,255,0) 100%);
}

.red {
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 48%, rgba(51,110,122,0) 49%, rgba(0,212,255,0) 100%);
}